# Android/IntelliJ
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Kotlin
*.class
*.kt~*

# Other
*.log
*.swp

# Don't ignore Gradle Wrapper JARs
!gradle/wrapper/gradle-wrapper.jar
